<!-- line list details -->
<h5>Details</h5>
<p>Disease: {{ selectedRecord.diseaseCondition }}, Date:{{ selectedRecord.diseaseOnsetDateRaw }}
  <br/>
  {{ selectedRecord.gender }}, {{ selectedRecord.age }} years, {{ selectedRecord.admin1name }} Region, {{ selectedRecord.admin2name }} Zone, {{ selectedRecord.admin3name }} Woreda.
</p>
<p class="text-danger" v-if="cloudError"><small>An error occured while processing your request. Please check your information and try again</small></p>
