<!-- line list details -->
<h5>Details</h5>
<p>Facility: {{ selectedRecord.site_name }}, Date:{{ selectedRecord.weekStartDate }}
  <br/>
   {{ selectedRecord.admin1name }} Region, {{ selectedRecord.admin2name }} Zone, {{ selectedRecord.admin3name }} Woreda.
</p>
<p class="text-danger" v-if="cloudError"><small>An error occured while processing your request. Please check your information and try again</small></p>
