<thead>
  <tr>
    <th>Health Facility</th>
    <th>Week start date</th>
    <th>Week end date (dd/mm/yy)</th>
    <th>Region</th>
    <th>Zone</th>
    <th>Woreda</th>
    <th class="actions-column">Manage</th>
  </tr>
</thead>
<tbody>
  <tr v-for="d in records">
    <td>{{ d.site_name }}</td>
    <td>{{ d.weekStartDate }}</td>
    <td>{{ d.weekEndDate }}</td>
    <td>{{ d.admin1name }}</td>
    <td>{{ d.admin2name }}</td>
    <td>{{ d.admin3name }}</td>
    <!-- buttons -->
    <td class="actions-column" align="horizontal">
      <div class="row">
        <div class="col-6" align="right">
          <button type="button" title="View Record" class="btn btn-labeled btn-outline-primary" @click="clickUpdateRecord(d.id)">
            <span class="btn-label"><i class="fa fa-eye"></i></span>
          </button>
        </div>
        <div class="col-6" align="left" v-if="!isDisabledList(d.id)">
          <button type="button" title="Remove Record" class="btn btn-labeled btn-outline-danger" @click="clickRemoveRecord(d.id)">
            <span class="btn-label"><i class="fa fa-trash"></i></span>
          </button>
        </div>
      </div>
    </td>
  </tr>
</tbody>
