<table class="table table-striped" id="record-list-pending-validation-table">
  <thead>
    <tr>
      <th>ID</th>
      <th class="actions-column">Manage</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="d in records">
      <td><strong>{{d.id}}</strong></td>
      <td class="actions-column">
        <button class="btn btn-sm btn-outline-info" :href="'/forms/record/' + d.id ">View Record</button>
        <button class="btn btn-sm btn-outline-danger" @click="clickRemoveRecord(d.id)">Remove Record</button>
      </td>
    </tr>
  </tbody>
</table>
