<div id="account-overview" v-cloak>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h1 v-if="me.id === user.id">My Account</h1>
        <h1 v-if="me.id !== user.id">{{ user.fullName }}</h1>
      </div>
      <!-- if not disabled! -->
      <div class="col-sm-4" v-if="!isDisabled()">
        <span class="float-sm-right" style="padding-top: 20px;">
          <a class="btn btn-sm btn-outline-info account-settings-button" @click="clickEditUser(user.id)">Edit profile</a>
        </span>
      </div>
    </div>
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-12">
        <h4>Personal information</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Name:</div>
      <div class="col"><strong>{{user.fullName}}</strong></div>
    </div>
    <div class="row">
      <div class="col-3">Email:</div>
      <div class="col">
        <strong :class="[user.emailStatus === 'unconfirmed' || user.emailStatus === 'changeRequested' ? 'text-muted' : '']">{{user.emailChangeCandidate ? user.emailChangeCandidate : user.emailAddress}}</strong>
        <span v-if="user.emailStatus === 'unconfirmed' || user.emailStatus === 'changeRequested'" class="badge badge-pill badge-warning">Unverified</span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Phone:</div>
      <div class="col"><strong>{{user.phoneNumber}}</strong></div>
    </div>
    <div class="row">
      <div class="col-3">Position:</div>
      <div class="col"><strong>{{user.position}}</strong></div>
    </div>
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-12">
        <h4>Location</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Region:</div>
      <div class="col"><strong>{{user.admin1name}}</strong></div>
    </div>
    <div class="row">
      <div class="col-3">Zone:</div>
      <div class="col"><strong>{{user.admin2name}}</strong></div>
    </div>
    <div class="row">
      <div class="col-3">Woreda:</div>
      <div class="col"><strong>{{user.admin3name}}</strong></div>
    </div>
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-12">
        <h4>Permissions</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="funkyradio">
          <div class="funkyradio-primary">
            <input type="checkbox" name="federal" id="federal" v-model.trim="user.admin0administrator" disabled="true"/>
            <label for="federal">Federal Admin</label>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="funkyradio">
          <div class="funkyradio-primary">
            <input type="checkbox" name="regional" id="regional" v-model.trim="user.admin1administrator" disabled="true"/>
            <label for="regional">Regional Admin</label>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="funkyradio">
          <div class="funkyradio-primary">
            <input type="checkbox" name="zonal" id="zonal" v-model.trim="user.admin2administrator" disabled="true"/>
            <label for="zonal">Zonal Admin</label>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="funkyradio">
          <div class="funkyradio-primary">
            <input type="checkbox" name="woreda" id="woreda" v-model.trim="user.admin3administrator" disabled="true"/>
            <label for="woreda">Woreda Admin</label>
          </div>
        </div>
      </div>
    </div>
    <div v-if="me.id === user.id">
      <hr/>
      <div class="row mb-3">
        <div class="col-sm-6">
          <h4>Password</h4>
        </div>
        <div class="col-sm-6">
          <span class="float-sm-right">
            <a class="btn btn-sm btn-outline-info account-settings-button" href="/account/password">Change password</a>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-3">Password:</div>
        <div class="col"><strong>••••••••••</strong></div>
      </div>
    </div>
  </div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
