<div id="account-overview" v-cloak>
  <div class="container">
    <!-- alert -->
    <div id="alert-msg" class="alert alert-success" role="alert">
      User Successfully Verified!
    </div>
    <div class="row">
      <div class="col-sm-8">
        <h1 v-if="me.id === user.id">My Account</h1>
        <h1 v-if="me.id !== user.id">{{ user.fullName }}</h1>
      </div>
      <!-- if not disabled! -->
      <div class="col-sm-2">
        <span v-if="user.emailStatus !== 'unconfirmed'" class="float-sm-right" style="padding-top: 20px;">
          <a class="btn btn-sm btn-outline-dark account-settings-button" title="Back" href="/users">Back</a>
        </span>
      </div>
      <div class="col-sm-2">
        <span v-if="me.id !== user.id && user.emailStatus === 'unconfirmed'" class="float-sm-right" style="padding-top: 20px;">
          <a class="btn btn-sm btn-warning account-settings-button" title="Verify profile" @click="clickVerifyUser(user.id)">Verify profile</a>
        </span>
        <span class="float-sm-right" style="padding-top: 20px;">
          <button class="btn btn-sm btn-outline-info account-settings-button" title="Edit profile" @click="clickEditUser(user.id)">Edit profile</button>
        </span>
      </div>
    </div>
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-12">
        <h4>Personal information</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Name:</div>
      <div class="col"><strong>{{user.fullName}}</strong></div>
    </div>
    <div class="row">
      <div class="col-3">Email:</div>
      <div class="col">
        <strong :class="[user.emailStatus === 'unconfirmed' || user.emailStatus === 'changeRequested' ? 'text-muted' : '']">{{user.emailChangeCandidate ? user.emailChangeCandidate : user.emailAddress}}</strong>
        <span v-if="user.emailStatus === 'unconfirmed' || user.emailStatus === 'changeRequested'" class="badge badge-pill badge-warning">Unverified</span>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Phone:</div>
      <div class="col"><strong>{{user.phoneNumber}}</strong></div>
    </div>
    <div class="row">
      <div class="col-3">Position:</div>
      <div class="col"><strong>{{user.position}}</strong></div>
    </div>
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-12">
        <h4>Location</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-3">Region:</div>
      <div class="col"><strong>{{user.admin1name}}</strong></div>
    </div>
    <div class="row">
      <div class="col-3">Zone:</div>
      <div class="col"><strong>{{user.admin2name}}</strong></div>
    </div>
    <div class="row">
      <div class="col-3">Woreda:</div>
      <div class="col"><strong>{{user.admin3name}}</strong></div>
    </div>
    <hr/>
    <div class="row mb-3">
      <div class="col-sm-12">
        <h4>Permissions</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="funkyradio">
          <div class="funkyradio-primary">
            <input type="checkbox" name="federal" id="federal" v-model.trim="user.admin0administrator" disabled="true"/>
            <label for="federal">Federal Admin</label>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="funkyradio">
          <div class="funkyradio-primary">
            <input type="checkbox" name="regional" id="regional" v-model.trim="user.admin1administrator" disabled="true"/>
            <label for="regional">Regional Admin</label>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="funkyradio">
          <div class="funkyradio-primary">
            <input type="checkbox" name="zonal" id="zonal" v-model.trim="user.admin2administrator" disabled="true"/>
            <label for="zonal">Zonal Admin</label>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="funkyradio">
          <div class="funkyradio-primary">
            <input type="checkbox" name="woreda" id="woreda" v-model.trim="user.admin3administrator" disabled="true"/>
            <label for="woreda">Woreda Admin</label>
          </div>
        </div>
      </div>
    </div>
    <div v-if="me.id === user.id">
      <hr/>
      <div class="row mb-3">
        <div class="col-sm-6">
          <h4>Password</h4>
        </div>
        <div class="col-sm-6">
          <span class="float-sm-right">
            <a class="btn btn-sm btn-outline-info account-settings-button" href="/account/password">Change password</a>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-3">Password:</div>
        <div class="col"><strong>••••••••••</strong></div>
      </div>
    </div>

    <!-- error messages -->
    <div class="row" style="padding-top: 40px;">
      <div class="col-sm-6">
        <p class="text-danger" v-if="cloudError">An error occured while processing your request. Please check your information and try again, or <a href="/contact">contact support</a> if the error persists.</p>
      </div>
      <div class="col-sm-6">
        <div class="form-group text-right">
          <a v-if="user.emailStatus !== 'unconfirmed'" class="btn btn-outline-info" href="/users">Cancel</a>
          <button type="submit" v-if="me.id !== user.id" :syncing="syncing" class="btn btn-danger" :disabled="isDisabled()" @click="clickRemoveUser()">Remove user</button>
        </div>
      </div>
    </div>

  </div>

  <% /* "Verify user" modal */ %>
  <modal v-if="confirmVerifyUserModalOpen" v-cloak key="remove" @close="closeUserModal()">
    <div class="modal-header">
      <h5 class="modal-title">Verify {{user.fullName}}?</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="updateProfile" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingVerifyUserForm" @submitted="submittedVerifyUserForm($event)">
      <div class="modal-body">
        <h5>Verify Profile</h5>
        <p>Update this account to enable access to ephiPulse</p>
        <p>Are you sure you want to verify {{user.fullName}}?</p>
        <p class="text-danger" v-if="cloudError"><small>An error occured while processing your request. Please check your information and try again, or <a href="/contact">contact support</a> if the error persists.</small></p>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-secondary mr-1">Cancel</button>
        <ajax-button type="submit" :syncing="syncing" class="btn btn-warning ml-1">Verify User</ajax-button>
      </div>
    </ajax-form>
  </modal>

  <% /* "Remove user" modal */ %>
  <modal v-if="confirmRemoveUserModalOpen" v-cloak key="remove" @close="closeUserModal()">
    <div class="modal-header">
      <h5 class="modal-title">Remove {{user.fullName}}?</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span>&times;</span>
      </button>
    </div>
    <ajax-form action="removeUser" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingRemoveUserForm" @submitted="submittedRemoveUserForm($event)">
      <div class="modal-body">
        <h5>Warning!</h5>
        <p>This action cannot be undone! Are you sure you want to remove this record?</p>
        <p>Are you sure you want to remove {{user.fullName}}?</p>
        <p class="text-danger" v-if="cloudError"><small>An error occured while processing your request. Please check your information and try again, or <a href="/contact">contact support</a> if the error persists.</small></p>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-dark mr-1">Cancel</button>
        <ajax-button type="submit" :syncing="syncing" class="btn btn-danger ml-1">Remove User</ajax-button>
      </div>
    </ajax-form>
  </modal>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
