<!-- location -->
<div>
  <!-- details -->
  <h5 class="text-center">Details</h5>
  <hr/>
  <div class="form-row">
    <div class="form-group col-md-4">
      <div class="field-wrap">
        <!-- date of onset of disease, EC -->
        <span class="datepicker-label">Date Recieved</span>
        <datepicker ref="datepickerref"
                    class="datepicker"
                    v-model="selectedRecord.dateRecievedRaw"
                    placeholder-text="Select"
                    :popup="true"
                    :invalid="formSubmitAttempt && !selectedRecord.dateRecievedRaw"
                    validation-error-message="Please recieved.">
        </datepicker>
      </div>
    </div>
    <div class="form-group col-md-8">
      <label for="diseaseCondition">Disease Condition</label>
      <select class="form-control" id="diseaseCondition" v-model.trim="selectedRecord.diseaseCondition" :class="[formSubmitAttempt && !selectedRecord.diseaseCondition ? 'is-invalid' : '']" @change="forceUpdate()">
        <option value="undefined" disabled>Select Disease...</option>
        <option v-for="d in choices.diseases" v-bind:value="d.name">
          {{ d.label }}
        </option>
      </select>
      <div class="invalid-feedback" v-if="formSubmitAttempt && !selectedRecord.diseaseCondition">Please enter Disease Condition.</div>
    </div>
  </div>
  <!-- patient type -->
  <div class="form-row">
    <div class="form-group col-md-3">
      <div class="field-wrap">
        <!-- date of onset of disease, EC -->
        <span class="datepicker-label">Disease Onset Date</span>
        <datepicker ref="datepickerref"
                    v-model="selectedRecord.diseaseOnsetDateRaw"
                    placeholder-text="Select"
                    :popup="true"
                    :invalid="formSubmitAttempt && !selectedRecord.diseaseOnsetDateRaw"
                    validation-error-message="Please select disease onset date.">
        </datepicker>
      </div>
    </div>
    <div class="form-group col-md-3">
      <div class="field-wrap">
        <!-- date seen at health facility, EC -->
        <span class="datepicker-label">Patient Seen at Facility Date</span>
        <datepicker ref="datepickerref"
                    v-model="selectedRecord.patientSeenAtHealthFacilityDateRaw"
                    placeholder-text="Select"
                    :popup="true"
                    :invalid="formSubmitAttempt && !selectedRecord.patientSeenAtHealthFacilityDateRaw"
                    validation-error-message="Please select date patient seen at health facility.">
        </datepicker>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="patientType">Patient Type</label>
      <select class="form-control" id="patientType" v-model.trim="selectedRecord.patientType" :class="[formSubmitAttempt && !selectedRecord.patientType ? 'is-invalid' : '']" @change="forceUpdate()">
        <option value="undefined" disabled>Select Patient Type...</option>
        <option v-for="d in choices.patientTypes" v-bind:value="d.name">
          {{ d.label }}
        </option>
      </select>
      <div class="invalid-feedback" v-if="formSubmitAttempt && !selectedRecord.patientType">Please enter Patient Type.</div>
    </div>
  </div>
  <!-- patient details -->
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="name">Patient Name</label>
      <input class="form-control" id="name" type="text" :class="[formSubmitAttempt && !selectedRecord.name ? 'is-invalid' : '']" v-model.trim="selectedRecord.name" @change="forceUpdate()">
      <div class="invalid-feedback" v-if="formSubmitAttempt && !selectedRecord.name">Please enter Patient Name.</div>
    </div>
    <div class="form-group col-md-4">
      <label for="patientType">Gender</label>
      <select class="form-control" id="gender" :class="[formSubmitAttempt && !selectedRecord.gender ? 'is-invalid' : '']" v-model.trim="selectedRecord.gender" @change="forceUpdate()">
        <option value="undefined" disabled>Select Gender...</option>
        <option v-for="d in choices.genders" v-bind:value="d.name">
          {{ d.label }}
        </option>
      </select>
      <div class="invalid-feedback" v-if="formSubmitAttempt && !selectedRecord.gender">Please enter Patient Gender.</div>
    </div>
    <div class="form-group col-md-4">
      <label for="age">Age</label>
      <input class="form-control" id="age" type="number" :class="[formSubmitAttempt && !selectedRecord.age ? 'is-invalid' : '']" v-model.trim="selectedRecord.age" @change="forceUpdate()">
      <div class="invalid-feedback" v-if="formSubmitAttempt && !selectedRecord.age">Please enter Patient Age.</div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="kebeleTownHouseNo">Kebele/PA's Town, House No.</label>
      <input class="form-control" id="kebeleTownHouseNo" type="text" :class="[formSubmitAttempt && !selectedRecord.kebeleTownHouseNo ? 'is-invalid' : '']" v-model.trim="selectedRecord.kebeleTownHouseNo" @change="forceUpdate()">
      <div class="invalid-feedback" v-if="formSubmitAttempt && !selectedRecord.kebeleTownHouseNo">Please enter patient Kebele/PA's Town, House No.</div>
    </div>
  </div>
  <!-- location -->
  <h5 class="text-center">Lab</h5>
  <hr/>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="patientType">Specimen Taken</label>
      <select class="form-control" id="specimenTaken" v-model.trim="selectedRecord.specimenTaken" :class="[formSubmitAttempt && !selectedRecord.specimenTaken ? 'is-invalid' : '']" @change="forceUpdate()">
        <option value="undefined" disabled>Select Specimen Taken...</option>
        <option v-for="d in choices.yesNo" v-bind:value="d.name">
          {{ d.label }}
        </option>
      </select>
      <div class="invalid-feedback" v-if="formSubmitAttempt && !selectedRecord.specimenTaken">Please enter Specimen Taken.</div>
    </div>
    <div v-if="selectedRecord.specimenTaken === 'yes'" class="form-group col-md-6">
      <div class="field-wrap">
        <!-- date seen at health facility, EC -->
        <span class="datepicker-label">Specimen Taken Date</span>
        <datepicker ref="datepickerref"
                    v-model="selectedRecord.specimenTakenDateRaw"
                    placeholder-text="Select"
                    :popup="true"
                    :invalid="formSubmitAttempt && !selectedRecord.specimenTakenDateRaw"
                    validation-error-message="Please select date specimen was taken.">
        </datepicker>
      </div>
    </div>
    <div v-if="selectedRecord.specimenTaken === 'yes'" class="form-group col-md-6">
      <label for="labResult">Lab Results</label>
      <input class="form-control" id="labResult" type="text" v-model.trim="selectedRecord.labResult" @change="forceUpdate()">
    </div>
    <div class="form-group col-md-12">
      <label for="outcome">Outcome</label>
      <select class="form-control" id="outcome" v-model.trim="selectedRecord.outcome" :class="[formSubmitAttempt && !selectedRecord.outcome ? 'is-invalid' : '']" @change="forceUpdate()">
        <option value="undefined" disabled>Select Outcome...</option>
        <option v-for="d in choices.outcomes" v-bind:value="d.name">
          {{ d.label }}
        </option>
      </select>
      <div class="invalid-feedback" v-if="formSubmitAttempt && !selectedRecord.outcome">Please enter Outcome.</div>
    </div>
  </div>
  <!-- location -->
  <h5 class="text-center">Comments</h5>
  <hr/>
  <div class="form-row">
    <textarea class="form-control" id="comments" v-model.trim="selectedRecord.comments"></textarea>
  </div>
</div>
