<div id="confirmed-email" v-cloak>
  <div class="container">
    <h1 class="text-center">Account confirmed</h1>
    <div class="confirmation-message">
      <hr/>
      <p>The new account is now verified.</p>
      <p><a class="btn btn-outline-info" href="/">To my dashboard</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
